/* open-sans-regular - cyrillic_latin_cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - cyrillic_latin_cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-cyrillic_latin_cyrillic-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}