.grid-view .summary {
    color: #999;
    font-size: 11px;
    margin-left: 2px;
    margin-bottom: 1px;
}

.reg-contact {
    margin-top: 15px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

.session-index td {
    text-align: center;
}

.period-select-input {
    width: 170px !important;
    display: inline-block;
    background: url(../images/calendar.png) no-repeat 2px center;
    padding-left: 25px;
    background-size: 20px;
}

.period-select-input-not-inline {
    width: 170px !important;
    background: url(../images/calendar.png) no-repeat 2px center;
    background-size: 20px;
    padding-left: 25px;
}

.inline-action-item {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

tr.tr-text-through td {
    text-decoration: line-through;
}

.inline-form .form-group .control-label {
    font-weight: normal !important;
    width: 100px;
}

.table th {
    text-align: center;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

#search-session-form #custom-filters label {
    margin-bottom: 1px !important;
}

.register-box {
    width: 450px;
}

.register-box form label {
    margin-bottom: 2px;
}

.selector-car {
    min-width: 200px !important;
}
.selector-fine-doc {
    min-width: 330px !important;
}
.selector-departments {
    min-width: 380px;
}

hr.box-separator {
    margin: 0;
}
.box-filters {
    margin-bottom: 10px;
    padding: 8px;
}
.box-filters .form-group {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.box-filters .inline-filters .form-group {
    display: inline-block;
    margin-right: 15px;
}
.box-filters .inline-filters .form-group label {
    display: block;
}

.box-filters .inline-filters label {
    font-weight: normal;
}
.box-filters .apply-filters-button {
    clear: both;
}

.administrator-form {}
.administrator-form .help-block {
    /*display: none;*/
}
.administrator-form .role-list {
    margin: 25px 25px 15px 15px;
}
.administrator-form .role-list .role .form-group {
    margin-bottom: 0;
}
.administrator-form .role-list .role {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}
.administrator-form .role-list .role:last-child {
    border-bottom: 0 !important;
}
.administrator-form .role-list .role .role-organization {
    clear: both;
    margin-left: 21px;
}
.administrator-form .role-list .role .role-organization label {
    display: block;
    font-weight: normal;
}
.administrator-form .role-list .role .role-hint {
    margin-left: 21px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.administrator-form .role-list .role .role-label {}
.administrator-form .role-list .role .role-label label {}
.administrator-form .role-list .role .role-label input {}